@keyframes fadeFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }  


body {

    background-color: rgb(0, 0, 0);
    padding-top: 70px; 

}


header {

    position: fixed; /*  always on top */
    width: 100%;
    top: 0;
    z-index: 1000; 
    background-color: rgb(0, 0, 0) !important;
    box-shadow: 0 4px 8px 0 rgba(89, 0, 255, 0.178), 0 6px 20px 0 rgba(0, 119, 255, 0.116);
    

}

img {
    
  border-radius: 10px;


}


p {


    font-family: "Montserrat";

}

h1 {

    font-family: "Bungee", sans-serif;
    
    opacity: 0; /* Start with the text hidden */
    animation: fadeFromLeft 2s ease forwards;
}

h3 {

  font-family: "Bungee", sans-serif;
    
 
}

.bunge {
   
    font-family: "Bungee", sans-serif;
    
}

.degrade {

    background: linear-gradient(to right, #3498db, #8e44ad); /* Same gradient as body */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    /*este degrade es unicamente para letra degradada, fondo como está*/
}





.discord-btn {
    
    text-align: center;
    font-family: "Bungee";

}




.container{
  transform-style: preserve-3d;
}

.container .box{
  position: relative;
  width: 350px;
  height: 350px;
  margin: 40px;
  transform-style: preserve-3d;
  perspective: 1000px;
  cursor: pointer;
}

.container .box .body{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 1.2s ease;
  
}



.container .box .body .imgContainer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.container .box .body .imgContainer img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .box .body .content{
  position: absolute;
  top: 0;
  left: 0;
  width: 101%;
  height: 100%;
  background: black;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.container .box:hover .body{
  transform: rotateY(180deg);
}

.container .box .body .content div{
  transform-style: preserve-3d;
  padding: 20px;
  background: linear-gradient(to right, #3498db, #8e44ad);
  transform: translateZ(100px);
  width: 101%;
  height: 100%;
  border-radius: 10px;
  
}

.container .box .body .content div h3{
  letter-spacing: 1px;
}




.discord-btn {
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: center;
}

.discord-btn button {
  border-color: rgb(29, 0, 58);
  background: none;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}

.discord-btn button:hover {
  box-shadow: 0 4px 8px 0 rgba(89, 0, 255, 0.253), 0 6px 20px 0 rgba(0, 119, 255, 0.199) !important;
  
  
}